<div>
    <h1>{{ todolist.title }}</h1>
    {{ todolist.description }}
    <div><a href="{% url 'todo:list_index' %}">See all lists</a>
</div>

{% if todolist.owner.id == request.user.id %}
<h1> Don't forget to make a note! </h1>
<form action="{% url 'todo:item_create' todolist.id %}" method="post">
{% csrf_token %}
    <br>Title <input type="text" name="title" value="{{ todoitem.title }}" /></br>
    <br>Order <input type="number" name="order" value="{{ todoitem.order }}" /></br>
    <br>Done  <input type="checkbox" name="done" unchecked /></br>
<input type="submit" value="Create" />
</form>
{% endif %} 

<h1>Did you forget to</h1>
{% if todos %}
    {% for todo in todos %}
        <div><a href="{% url 'todo:item_detail' todo.id %}">Order {{ todo.order }}: {{ todo.title }}</a>
             <br>{% if todo.done %} Already Done {% else %} It is time to do this {% endif %}</br>
             <br><a href="{% url 'todo:item_do' todo.id %}">Mark as done</a>
                {% if todolist.owner.id == request.user.id %}
                 | <a href="{% url 'todo:item_delete' todo.id %}">Delete</a>
                {% endif %} 
             </br>
        </div>
        <br></br>
        <br></br>
    {% endfor %}
{% else %}
    <p>No todo notes are available.</p>
{% endif %} 
